<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>

<div class="container">
  <div class="row">
  <div class="form-signin">
  <h2>login</h2>
  	<form class="login" method="POST" action="{% url 'account_login' %}">
                                {% csrf_token %}
    <div class="form-group">
        <div class="input-icon input-icon-lg">
            <i class="zmdi zmdi-email"></i>
            <input id="id_login" name="login" type="text" class="form-control input-lg" placeholder="邮箱" value="" required="required" autofocus/>
        </div>
    </div>
    {% if form.login.errors %}
        <div class="base_message error_message">
            {{ form.login.errors }}
        </div>
    {% endif %}

    <div class="form-group">
        <div class="input-icon input-icon-lg">
            <i class="zmdi zmdi-lock-outline"></i>
            <input id="id_password" name="password" type="password" class="form-control input-lg" placeholder="密码" required="required">
        </div>
    </div>
    {% if form.password.errors %}
        <div class="base_message error_message">
            {{ form.password.errors }}
        </div>
    {% endif %}
    <div style="margin-bottom: 15px">
                        <div style="width:290px;margin: auto" id="embed-captcha"></div>
                        <p id="wait" class="show">正在加载验证码......</p>
                        <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                    </div>

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <hr class="hr15"/>
    <input type="submit" id="embed-submit" value="登 录" class="btn btn-block btn-primary"/>
    <hr class="hr20"/>

</form>
</div>
</div>
</div>


<script src="/static/js/jquery.js"></script>
<script src="https://static.geetest.com/static/tools/gt.js"></script>
<script>
    $(document).ready(function () {
        $('#register-form').preventDoubleSubmission();
    });
</script>

<script>
    var handlerEmbed = function (captchaObj) {
        $("#embed-submit").click(function (e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                $("#notice")[0].className = "show";
                setTimeout(function () {
                    $("#notice")[0].className = "hide";
                }, 2000);
                e.preventDefault();
            }
        });
        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#wait")[0].className = "hide";
        });
    };
    $.ajax({
        url: "{% url 'captcha:get_captcha' %}?t=" + (new Date()).getTime(),
        type: "get",
        dataType: "json",
        success: function (data) {
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "embed",
                offline: !data.success
            }, handlerEmbed);
        }
    });
</script>
</body>
</html>